*{
    padding: 0;
    margin:0;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Raleway;
}


.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    background-color: aqua;
}


.task{
   height: 600px;
   width: 600px;
   background-color: white;
    padding: 20px;
}

#task2{
    margin-top:20px;
    margin-left:5px;
    font-size: 48px;
}

.list{
    padding:5px;
    margin-top: 20px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    list-style-type: none;
}
li{
    list-style: none;
}
.list i{
    font-size:40px;
}
.abc{
    text-decoration: line-through;
}